button {
    width: 250px;
    height: 80px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 35px;
    color:blanchedalmond;
    border:2px solid;
    margin:5px;
    border-radius: 5px;
    cursor:pointer;

}
button:hover {
    background-color: coral;
}
.botonDeClick{
    background-color: blueviolet;
  }
  .botonDeReinciar{
    background-color:royalblue;
  }